doctype html
html
  head
    title Set Game
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/static/style/index.css', rel='stylesheet')
    link(rel='icon', type='image/png', href='/static/favicon.png')
  body
    .centered
      h1.relax.font-number SET
      a.button.block.borderless(href='/s')
        i.mi person
        .text Single Player
      a.button.block.borderless(href='/r')
        i.mi people
        .text Multiplayer
      a.button.block.borderless(href='/help')
        i.mi help
        .text How to play

    .footer
      a(href='https://antnf.com') @Anthony Fu
