doctype html
html
  head
    title Set Game
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/static/style/index.css', rel='stylesheet')
  body
    #app
      h1 Set
      card(:value="2111")
      card(:value="3331")
      card(:value="2222")
      card(:value="1213")

    script#card-template(type='text/x-template')
      .card
        .symbol
          template(v-for="n in number")
            img(:src='shape', v-svg="{color:color,shading:shading}")

    script(src='/static/scripts/vue.min.js')
    script(src='/static/scripts/svg-injector.min.js')
    script(src='/static/scripts/app.js')
