doctype html
html
  head
    title Set Game
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/static/style/index.css', rel='stylesheet')
  body
    #app.fixed
      .previous
        .name {{previous.name}}
        .mask.scale-compact-5(v-for='(value,index) in previous.cards',:key='value')
          card(:value='value', :index='index', class='flipped')

      .ground
        .pure-g
          .pure-u-1-3(v-for='(value,index) in ground', :key='value')
            .mask(@click='select(index, $event)', :class='{selected: inarr(index,selected)}')
              card(:value='value', :index='index', :class='{flipped:flipped[index]}')

      .right.numbers {{solved}}
      .left.numbers {{deck_amount}}

      .corner.left(:class='{disabled:selected.length != 3}', @click='set()')
        .mi check
      .corner.right(:class='{disabled:selected.length == 0}', @click='clear')
        .mi clear

      .toolbar
        .title {{local?'Solo Mode':'Multiplayer Mode'}}
        .mi(@click='help') help
        .mi(@click='fullscreen') {{fullscreened ? 'fullscreen_exit' : 'zoom_out_map'}}
        .mi(v-if='local', @click='restart') refresh
        .mi(v-if='!local', @dblclick='restart') refresh
        .mi(v-if='!local && !connected', @click='connect') wifi tethering
        .mi(v-if='local', @click='hint', :class='{disabled:!hints}') lightbulb_outline
          label {{hints}}

    script#card-template(type='text/x-template')
      .card(v-if='com')
        .front
          template(v-for='n in com.number')
            .svg(v-svg='{color: com.color, shading: com.shading, shape:com.shape}')
        .back

    script(src='/static/scripts/dist/vue.min.js')
    script(src='/static/scripts/dist/svg-injector.min.js')
    script(src='/static/scripts/utils.js')
    script(src='/static/scripts/mixins.js')
    script(src='/static/scripts/extend.js')
    script(src='/static/scripts/app.js')
    script makeapp({mode:'#{mode}'})
