doctype html
html
  head
    title Set Game
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/static/style/index.css', rel='stylesheet')
  body
    #app
      .ground
        template(v-for="v in ground")
          card(:value="v")

    script#card-template(type='text/x-template')
      .card
        .symbol
          template(v-for="n in number")
            img(:src='shape', v-svg="{color:color,shading:shading}")

    script(src='/static/scripts/dist/vue.min.js')
    script(src='/static/scripts/dist/svg-injector.min.js')
    script(src='/static/scripts/utils.js')
    script(src='/static/scripts/app.js')
