@import './query.less';
@card-width: 110px;
@card-height: 70px;
@card-compact-width: @card-width - 20px;
@card-compact-height: @card-height - 20px;
@card-margin: 2px;

.card {
  height: @card-height;
  width: @card-width;
  margin: @card-margin;
  position: relative;
  text-align: center;
  background: #e2e2e2;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  display: inline-block;
  transform-style: preserve-3d;
  transition: transform .8s cubic-bezier(0.175, 0.885, 0.32, 1.275), background .3s ease-in-out;

  .front {
    backface-visibility: hidden;
    position: relative;
    top: 50%;
    height: 42px;
    transform: perspective(1px) translateY(-50%);

    .svg {
      display: inline-block;
      text-align: center;
    }

    svg {
      width: 22px;
      height: 42px;
      margin: 0 auto;
      display: inline-block;
      text-align: center;
    }
  }

  .back {
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }

  &:not(.flipped) {
    transform: rotateY(180deg);
    background: #7e7a7a;
  }
}

.ground {
  margin: 10px auto;
  transition: transform .3s ease-out;
  text-align: center;
  max-width: 800px;
  min-height: 100px;
  background: #666;
  padding: 5px;
  margin: 8px;
  border-radius: 8px;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.8);
  border: 1px solid #ccc;
  transform-origin: top;
  @media @small-mobile {
    .card {
      height: @card-compact-height;
      width: @card-compact-width;
    }
  }
  @media @tablet, @desktop, @desktop-xl {
    transform: scale(1.2);
    margin: 30px auto;
    width: 400px;
  }
}

.mask {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  transition: transform .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &.selected {
    transform: scale(1.02,1.02);
    z-index: 1000;

    .card.flipped {
      box-shadow: inset 0 0 15px 0 rgba(255, 138, 0, 0.85);
      background: #f5eeca;
    }
  }
  @media @mobile {
    margin: 5px;
  }
  @media @small-mobile {
    margin: 2px;
  }
  @media @tablet, @desktop, @desktop-xl {
    margin: 10px;
  }
  @media @desktop, @desktop-xl {
    &:hover {
      transform: scale(1.2,1.2);
      z-index: 10000;
    }
  }
}

.previous {
  text-align: center;
  height: 40px;
  margin: 5px auto 10px;

  .name {
    font-size: .6em;
    height: 11px;
    opacity: .6;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .mask {
    margin: 1px;
  }
}

.numbers {
  font-family: 'Raleway', "Lato", Helvetica, Arial, sans-serif, "Microsoft YaHei UI";
  position: absolute;
  top: 12px;
  font-size: 25px;

  &.left {
    left: 20px;
  }

  &.right {
    right: 20px;
  }
}
.generate-scales(10);

.generate-scales(@n, @i:1) when (@i =< @n) {
  @step: .1;
  @scale: @step * @i;
  @translate: -100% + percentage(@scale);

  .mask.scale-@{i},
  .scale-@{i} .mask {
    height: (@card-height + 2 * @card-margin) * @scale;
    width: (@card-width + 2 * @card-margin) * @scale;

    .card {
      transform: scale(@scale) translate(@translate, @translate) rotateY(180deg);
      height: @card-height;
      width: @card-width;
    }

    .card.flipped {
      transform: scale(@scale) translate(@translate, @translate);
    }
  }

  .mask.scale-compact-@{i},
  .scale-compact-@{i} .mask {
    height: (@card-compact-height + 2 * @card-margin) * @scale;
    width: (@card-compact-width + 2 * @card-margin) * @scale;

    .card {
      transform: scale(@scale) translate(@translate, @translate) rotateY(180deg);
      height: @card-compact-height;
      width: @card-compact-width;
    }

    .card.flipped {
      transform: scale(@scale) translate(@translate, @translate);
    }
  }
  .generate-scales(@n, (@i + 1));
}
