@import './query.less';

.ground {
  width: 320px;
  margin: 20px auto;
  transition: transform .3s ease-out;
  text-align: center;
  @media @mobile {}
  @media @tablet {
    transform: rotate(90deg);
  }
  @media @desktop, @desktop-xl {
    width: 370px;
    transform: rotate(90deg) scale(1.2,1.2);
  }
}

.mask {
  display: inline-block;
}

.card {
  position: relative;
  background: #e2e2e2;
  height: 110px;
  width: 70px;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.73);
  margin: 2px 4px;
  display: inline-block;
  transition: .1s ease-out;

  .symbol {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);

    svg {
      width: 42px;
      height: 22px;
      margin: 0 auto;
      display: block;
    }
  }
  @media @desktop, @desktop-xl {
    margin: 10px;
  }
}

.card.back {
  background: #370000;
}

.card:hover {
  transform: scale(1.2,1.2);
  z-index: 10000;
}

.card.selected {
  background: #fffab4;
  transform: scale(1.05,1.05);
  z-index: 1000;
}
