.card {
  position: relative;
  background: #e2e2e2;
  height: 110px;
  width: 70px;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.73);
  margin: .5em;
  display: inline-block;

  .symbol {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);

    img,
    svg {
      width: 42px;
      height: 22px;
      margin: 1px auto;
      display: block;
    }
  }
}
