@import './constants.less';

.button {
  border-bottom: 1px solid #fff;
  display: inline-block;
  transition: .3s ease-in-out;
  padding: 5px 18px;
  margin: 5px;
  cursor: pointer;
  opacity: .5;
  color: #fff;
  text-decoration: none;

  &:hover:not(.disabled) {
    opacity: 1;
  }

  &.disabled {
    opacity: .3;
    cursor: default;
  }

  &.block {
    display: block;
    max-width: 180px;
    margin: 10px auto;
    text-align: left;
    padding: 10px 0;
  }

  &.borderless {
    border: 0;
  }

  .text,
  i {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
  }

  i {
    opacity: .7;
  }
}

.buttons {
  text-align: center;
  margin: 10px;
}

.button.big,
.buttons.big .button {
  font-size: 1.5em;
}

.corner {
  background: rgba(255,255,255,0.1);
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: -40px;
  border-radius: 120px;
  cursor: pointer;
  border: 1px solid rgba(255,255,255,0.3);
  transition: .3s ease-in-out;
  -webkit-tap-highlight-color: transparent;

  &.left {
    left: -40px;
    text-align: right;
  }

  &.right {
    right: -40px;
    text-align: left;
  }

  &.center {
    text-align: center;
    left: calc(~"50% - 60px");
    bottom: -50px;
  }

  &.small {
    transform: scale(0.4,0.4);

    .mi {
      margin: 15px;
      font-size: 4em;
    }
  }

  &.medium {
    width: 60px;
    height: 60px;

    .mi {
      margin: 10px;
      font-size: 40px;
    }
  }

  &.fixed {
    position: fixed;
    text-align: center;
  }

  &.disabled {
    opacity: .3;
    transform: scale(0.75,0.75);
    background: rgba(255,255,255,0.06);
    cursor: default;

    .mi {
      opacity: .4;
    }
  }

  .mi {
    margin: 25px;
    font-size: 3em;
    opacity: .8;
  }
}

.toolbar {
  position: absolute;
  text-align: center;
  width: 300px;
  height: 50px;
  left: calc(~"50% - 150px");
  bottom: 0;
  -webkit-tap-highlight-color: transparent;

  .title {
    font-size: 10px;
    margin-bottom: 6px;
    opacity: .2;
  }

  .mi {
    position: relative;
    font-size: 1.5em;
    opacity: .3;
    cursor: pointer;
    margin: 0 8px;
    transition: opacity .3s ease-in-out;

    label {
      font-family: monospace;
      position: absolute;
      left: 22px;
      top: 0;
      font-size: 12px;
    }

    &:hover:not(.disabled) {
      opacity: .6;
    }

    &.disabled {
      opacity: .1;
      cursor: default;
    }
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.9);
  overflow: hidden;

  .centered {
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 30%;
    transform: perspective(1px) translateY(-50%);
  }

  .filled {
    width: 100%;
    height: 100%;
    border: 0;
  }

  .close {
    position: fixed;
    top: 5px;
    right: 5px;
    padding: 10px;
    cursor: pointer;
  }
}

blockquote {
  margin-left: 0;
  padding: 0 1em;
  border-left: .25em solid #afafaf;
  opacity: .8;
}
@media @desktop, @desktop-xl {
  .tooltip {
    &:hover {
      &:before {
        top: -34px;
        opacity: 1;
      }

      &:after {
        top: -10px;
        opacity: 1;
      }
    }

    &:before {
      .font-normal;
      position: absolute;
      top: -30px;
      left: -24px;
      background: lighten(#1BA39C, 80%);
      width: 80px;
      font-size: 14px;
      padding: 5px 0;
      border-radius: 3px;
      color: #222;
      content: attr(data-tooltip);
      opacity: 0;
      transition: .3s;
    }

    &:after {
      position: absolute;
      width: 0;
      height: 0;
      top: -6px;
      right: 6px;
      border-top: 6px solid lighten(#1BA39C, 80%);
      border-right: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 6px solid transparent;
      content: "";
      opacity: 0;
      transition: .3s;
    }
  }
}
