.button {
  background: #e2e2e2;
  border: 1px solid #000;
  border-radius: 3px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.73);
  display: inline-block;
  transition: .1s ease-out;
  padding: 2px 8px;
  color: #222;
  margin: 5px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover:not(.disabled) {
  transform: scale(1.2,1.2);
  z-index: 1000;
}

.button.disabled {
  opacity: .3;
  cursor: default;
}

.buttons {
  text-align: center;
  margin: 10px;
}

.button.big,
.buttons.big .button {
  font-size: 1.5em;
}

.corner {
  background: rgba(255,255,255,0.3);
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: -40px;
  border-radius: 120px;
  cursor: pointer;
  border: 1px solid rgba(255,255,255,0.5);
  transition: .3s ease-in-out;
  -webkit-tap-highlight-color: transparent;

  &.left {
    left: -40px;
    text-align: right;
  }

  &.right {
    right: -40px;
    text-align: left;
  }

  &.center {
    text-align: center;
    left: calc(~"50% - 60px");
    bottom: -50px;
  }

  &.small {
    transform: scale(0.4,0.4);

    .mi {
      margin: 15px;
      font-size: 4em;
    }
  }

  &.disabled {
    opacity: .4;
    transform: scale(0.75,0.75);
    background: rgba(255,255,255,0.06);
    cursor: default;

    .mi {
      opacity: .4;
    }
  }

  .mi {
    margin: 25px;
    font-size: 3em;
  }
}

.toolbar {
  position: absolute;
  text-align: center;
  width: 200px;
  height: 30px;
  left: calc(~"50% - 100px");
  bottom: 0;

  .mi {
    font-size: 1.5em;
    opacity: .3;
    cursor: pointer;
    margin: 0 8px;
    transition: opacity .3s ease-in-out;

    label {
      font-family: monospace;
      position: absolute;
      top: 0;
      font-size: 12px;
    }

    &:hover:not(.disabled) {
      opacity: .6;
    }

    &.disabled {
      opacity: .1;
      cursor: default;
    }
  }
}
