html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", Helvetica, Arial, sans-serif, "Microsoft YaHei UI";
  color: white;
}
body {
  background-color: #333;
}
